@media (max-width:1020px){
    .button-custom button{
        height: 300px;
        width: 400px;
    }

    .button-custom img{
        width: 300px;
    }
    
    .parrafo-5{
        width: 300px;
        height: 100px;
    }

    .parrafo-5 h2{
        font-size: 30px;
    }

    .parrafo-5 h3{
        font-size: 30px;
    }
}