@media (max-width:1250px){
    .button-custom button{
        height: 400px;
        width: 500px;
    }

    .button-custom img{
        width: 400px;
    }
    
    .parrafo-5{
        width: 400px;
        height: 130px;
    }

    .parrafo-5 h2{
        font-size: 40px;
    }

    .parrafo-5 h3{
        font-size: 40px;
    }

    .cb{
        gap: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .cb1{
        gap: 10px;
        padding-bottom: 50px;
    }
    .cb2{
        gap: 10px;
        padding-bottom: 50px;
    }
}