@media (max-width:1280px){
    .parrafo-1{
        margin-top: 250px;
        width: 300px;
    }

    .parrafo-1 p{
        font-size: 40px;
        width: 480px;
    }

    .parrafo-2{
        width: 345px;
    }

    .parrafo-2 p{
        font-size: 40px;
        width: 480px;
    }

    .section-moto{
        height: 400px;
    }

    .contenedor-primera-imagen{
        height: 400px;
        width: 400px;
    }

    .contenedor-segunda-imagen{
        height: 400px;
        width: 400px;
    }

    .txt-principal h2{
        font-size: 30px;
    }
    .txt-principal h3{
        font-size: 30px;
    }
    .txt-principal h4{
        font-size: 30px;
    }

    .txt-principal-2 h2{
        font-size: 30px;
    }
    .txt-principal-2 h3{
        font-size: 30px;
    }
    .txt-principal-2 h4{
        font-size: 30px;
    }

    .conjunto-txt-2{
        padding: 290px 0px 0px 0px;
    }
}