@media (max-width:1650px){
    .contenedor-primera-imagen{
        height: 400px;
        width: 600px;
    }

    .contenedor-segunda-imagen{
        height: 400px;
        width: 600px;
    }

    .txt-principal h2{
        font-size: 40px;
    }
    .txt-principal h3{
        font-size: 40px;
    }
    .txt-principal h4{
        font-size: 40px;
    }

    .txt-principal-2 h2{
        font-size: 40px;
    }
    .txt-principal-2 h3{
        font-size: 40px;
    }
    .txt-principal-2 h4{
        font-size: 40px;
    }

    .conjunto-txt-2{
        padding: 290px 0px 0px 0px;
    }
}