@media (max-width:830px){
    .parrafo-4{
        font-size: 100px;
    }

    .button-custom button{
        height: 200px;
        width: 300px;
    }

    .button-custom img{
        width: 210px;
    }
    
    .parrafo-5{
        width: 200px;
        height: 70px;
    }

    .parrafo-5 h2{
        font-size: 20px;
    }

    .parrafo-5 h3{
        font-size: 20px;
    }
}