.cb{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.cb1{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 50px;
}
.cb2{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 50px;
}
.cb-flex{
    display: flex;
    gap: 420px;
    align-items: center;
}
.parrafo-5 h3{
    display: flex;
    justify-content: center;
}
.parrafo-5 h2{
    display: flex;
    justify-content: center;
}
